#cart-container {
    max-width: 1200px;
}

.cart-div-price>* {
    display: block;
    text-align: end;
    min-width: 100px;
}

.cart-imgs {
    max-height: 200px;
}

@media (max-width: 575px) {
    .cart-div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .cart-div>* {
        margin-bottom: 1rem;
    }

    .cart-imgs {
        align-self: center;
    }
}

@media (min-width: 576px) {
    .cart-div {
        display: grid;
        grid-template-columns: 170px 6fr 1fr;
        align-items: center;
    }
    .cart-imgs {
        grid-column-start: 1;
    }
    .cart-info {
        grid-column-start: 2;
    }
    .cart-div-price {
        grid-column-start: 3;
    }
}

