.navbar-logo {
    height: 48px;
}

.a-navbar-logo {
    padding: 0;
}

body {
    padding-top: 64px;
}

.this-is-not-a {
    color: inherit;
}

.a-pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}