#cart-container {
    max-width: 1200px;
}

.cart-div-price>* {
    display: block;
    text-align: end;
    min-width: 100px;
}

.cart-imgs {
    max-width: 200px;
}

@media (max-width: 575px) {
    .cart-div>* {
        margin-bottom: 1rem;
    }

    .cart-imgs {
        align-self: center;
    }
}

