#good-img {
    max-height: 520px;
    float: left;
}

html {
    font-size: 0.8rem;
}

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}

#good-div-count-cart {
    display: flex;
    justify-content: space-between;
}

#good-div-count {
    display: flex;
    flex-direction: column;
}