<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${isAdding} ? 'Add goods' : 'Edit goods'">Edit goods</title>
    <link rel="stylesheet"
          th:href="@{/resources/static/css/font-awesome.min.css}"
          href="../../resources/static/css/font-awesome.min.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/bootstrap.css}"
          href="../../resources/static/css/bootstrap.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/form-validation.css}"
          href="../../resources/static/css/form-validation.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/style.css}"
          href="../../resources/static/css/style.css">
</head>

<body class="bg-light">
<header>
    <nav class="my-navbar navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a href="goods.html"
           th:href="@{/goods}"
           class="navbar-brand a-navbar-logo">
            <img class="navbar-logo"
                 src="../../resources/static/img/store.png"
                 th:src="@{/resources/static/img/store.png}"/>
        </a>
        <a class="navbar-brand"
           href="goods.html"
           th:href="@{/goods}">Online-store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"
                    sec:authorize="isAnonymous()">
                    <a class="nav-link"
                       href="login.html"
                       th:href="@{/login}">Log in<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <span class="nav-link">Welcome, <a href="login.html"
                                                       th:href="@{/profile}"
                                                       sec:authentication="name">!</a><span
                            class="sr-only">(current)</span></span>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <form id="logoutForm" th:method="@{post}" th:action="@{/logout}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>
                    <a class="nav-link a-pointer"
                       onclick="document.forms['logoutForm'].submit()">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a-pointer"
                       th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                       href="cart.html"
                       th:href="@{/cart}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a-pointer"
                       th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                       href="cart.html"
                       th:href="@{/history}">History</a>
                </li>
            </ul>
            <form th:action="@{/goods/search}"
                  method="get"
                  class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2"
                       th:name="substring"
                       type="text"
                       placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0"
                        type="submit">Search
                </button>
            </form>
        </div>
    </nav>
</header>

<main class="container" role="main">
    <div class="p-5 text-center">
        <!--<img class="d-block mx-auto mb-4" src="../../resources/static/img/store_black.png"-->
             <!--th:src="@{/resources/static/img/store_black.png}"-->
             <!--alt="" width="72" height="72">-->
        <h2 th:text="${isAdding} ? 'Add goods' : 'Edit goods'">Add goods</h2>
    </div>

    <div class="row">
        <div class="col-md order-md-1">
            <h4 class="mb-3">Goods info</h4>
            <form class="needs-validation"
                  id="goodsForm"
                  th:action="@{${#httpServletRequest.servletPath}}"
                  th:method="@{post}"
                  th:object="${good}"
                  enctype="multipart/form-data">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please fix errors below:</p>
                </div>
                <div class="mb-3">
                    <label for="name">Name</label>
                    <input type="text"
                           th:field="*{name}" class="form-control" id="name" placeholder="" value="" required="">
                    <div class="form-text text-danger"
                         th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}">[errors]
                    </div>
                    <div class="invalid-feedback">
                        Valid name is required.
                    </div>
                </div>

                <div class="row">
                    <div class="col-md mb-3">
                        <label for="goods-quantity">Quantity</label>
                        <input type="number" min="0" class="form-control" id="goods-quantity" placeholder=""
                               value="0"
                               th:field="*{quantity}"
                               required="">
                        <div class="form-text text-danger"
                             th:if="${#fields.hasErrors('quantity')}"
                             th:errors="*{quantity}">[errors]
                        </div>
                        <div class="invalid-feedback">
                            Valid quantity is required.
                        </div>
                    </div>
                    <div class="col-md mb-3">
                        <label for="goods-price">Price</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" min="0.00" step="0.01" class="form-control"
                                   id="goods-price"
                                   th:field="*{price}"
                                   placeholder="" value="0.00" required="">
                        </div>
                        <div class="form-text text-danger"
                             th:if="${#fields.hasErrors('price')}"
                             th:errors="*{price}">[errors]
                        </div>
                        <div class="invalid-feedback">
                            Valid price is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="goods-description">Description</label>
                    <textarea class="form-control"
                              id="goods-description"
                              th:field="*{description}"
                              rows="4"></textarea>
                    <div class="form-text text-danger"
                         th:if="${#fields.hasErrors('description')}"
                         th:errors="*{description}">[errors]
                    </div>
                    <div class="invalid-feedback">
                        Valid description is required.
                    </div>
                </div>

                <div class="mb-3">
                    <img id="goods-image-img" class="d-block mx-auto mb-4" th:src="@{${good.image}}"
                         alt="No image">
                    <label for="goods-image">Image</label>
                    <input type="file" class="form-control-file" id="goods-image"
                           name="imgFile"
                           onchange="readURL(this);"
                           accept=".jpg,.gif,.png">
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg"
                        th:onclick="@{document.forms['writerForm'].submit(); return false;}"
                        th:text="${isAdding} ? 'Add' : 'Edit'">Add
                </button>
                <button class="btn btn-danger btn-lg" type="reset">Cancel</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2017-2019 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</main>

<script th:src="@{/resources/static/js/jquery.min.js}"
        src="../../resources/static/js/jquery.min.js"></script>
<script th:src="@{/resources/static/js/popper.min.js}"
        src="../../resources/static/js/popper.min.js"></script>
<script th:src="@{/resources/static/js/bootstrap.min.js}"
        src="../../resources/static/js/bootstrap.min.js"></script>
<script th:src="@{/resources/static/js/form-validation.js}"
        src="../../resources/static/js/form-validation.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#goods-image-img')
                    .attr('src', e.target.result);
                    // .width(150)
                    // .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

</body>
</html>