<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/font-awesome.min.css}"
          href="../../resources/static/css/font-awesome.min.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/bootstrap.css}"
          href="../../resources/static/css/bootstrap.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/form-validation.css}"
          href="../../resources/static/css/form-validation.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/cart.css}"
          href="../../resources/static/css/cart.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/style.css}"
          href="../../resources/static/css/style.css">
    <title>Cart</title>
</head>
<body class="bg-light">
<header>
    <nav class="my-navbar navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a href="goods.html"
           th:href="@{/goods}"
           class="navbar-brand a-navbar-logo">
            <img class="navbar-logo"
                 src="../../resources/static/img/store.png"
                 th:src="@{/resources/static/img/store.png}"/>
        </a>
        <a class="navbar-brand"
           href="goods.html"
           th:href="@{/goods}">Online-store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"
                    sec:authorize="isAnonymous()">
                    <a class="nav-link"
                       href="login.html"
                       th:href="@{/login}">Log in<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <span class="nav-link">Welcome, <a href="login.html"
                                                       th:href="@{/profile}"
                                                       sec:authentication="name">!</a><span
                            class="sr-only">(current)</span></span>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <form id="logoutForm" th:method="@{post}" th:action="@{/logout}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>
                    <a class="nav-link a-pointer"
                       onclick="document.forms['logoutForm'].submit()">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a-pointer"
                       th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                       href="cart.html"
                       th:classappend="active"
                       th:href="@{/cart}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a-pointer"
                       th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                       href="cart.html"
                       th:href="@{/history}">History</a>
                </li>
            </ul>
            <form th:action="@{/goods/search}"
                  method="get"
                  class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2"
                       th:name="substring"
                       type="text"
                       placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0"
                        type="submit">Search
                </button>
            </form>
        </div>
    </nav>
</header>
<div id="cart-container" class="container">
    <div class="py-5 text-center">
        <!--<img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"-->
        <!--alt="" width="72" height="72">-->
        <h2>Cart</h2>
    </div>

    <form id="buyForm" class="mb-4"
          th:action="@{/pay}"
          th:method="@{post}">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill"
                  th:text="${cartSize}">3</span>
        </h4>
        <ul id="cart-goods-list" class="list-group mb-3"
            th:unless="${cartSize == 0}">
            <li class="list-group-item d-flex flex-column"
                th:each="cart: ${carts}">
                <div class="cart-div lh-condensed">
                    <div class="d-flex justify-content-around">
                        <img class="img-fluid cart-imgs"
                             th:attr="src=@{${cart.image}}"
                             alt="No image">
                    </div>
                    <div class="cart-info px-4">
                        <h4 class="my-0"
                            th:text="${cart.goodsName}">Product name</h4>
                        <hr class="mb-2"/>
                        <span th:text="'Quantity: ' + ${cart.quantity}">Quantity</span>
                    </div>
                    <div class="d-flex flex-column align-content-start cart-div-price">
                        <span th:text="'$' + ${cart.goodsPrice}" class="text-muted">$4.99</span>
                        <span th:text="'$' + ${cart.goodsCost}">$13.99</span>
                    </div>
                </div>
                <div>
                    <a href="#"
                       class="float-right"
                       th:href="@{|/cart/${cart.goodsId}/delete|}">Remove</a>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center lh-condensed">
                <span>Total (USD)</span>
                <strong th:text="'$' + ${total}">$25680.00</strong>
            </li>
        </ul>
        <h3 th:if="${cartSize == 0}">The cart is empty.</h3>
        <div th:unless="${cartSize == 0}">
            <button class="btn btn-primary btn-lg"
                    th:onclick="@{document.forms['buyForm'].submit(); return false;}"
                    type="submit">Pay
            </button>
        </div>
    </form>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2017-2018 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<script th:src="@{/resources/static/js/jquery.min.js}"
        src="../../resources/static/js/jquery.min.js"></script>
<script th:src="@{/resources/static/js/popper.min.js}"
        src="../../resources/static/js/popper.min.js"></script>
<script th:src="@{/resources/static/js/bootstrap.min.js}"
        src="../../resources/static/js/bootstrap.min.js"></script>
<script th:src="@{/resources/static/js/form-validation.js}"
        src="../../resources/static/js/form-validation.js"></script>

</body>
</html>