<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of goods</title>
    <link rel="stylesheet"
          th:href="@{/resources/static/css/font-awesome.min.css}"
          href="../../resources/static/css/font-awesome.min.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/bootstrap.css}"
          href="../../resources/static/css/bootstrap.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/carousel.css}"
          href="../../resources/static/css/carousel.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/album.css}"
          href="../../resources/static/css/album.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/style.css}"
          href="../../resources/static/css/style.css">
</head>
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
<body>
<header>
    <nav class="my-navbar navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a href="goods.html"
           th:href="@{/goods}"
           class="navbar-brand a-navbar-logo">
            <img class="navbar-logo"
                 src="../../resources/static/img/store.png"
                 th:src="@{/resources/static/img/store.png}"/>
        </a>
        <a class="navbar-brand"
           href="goods.html"
           th:href="@{/goods}">Online-store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"
                    sec:authorize="isAnonymous()">
                    <a class="nav-link"
                       href="login.html"
                       th:href="@{/login}">Log in<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <span class="nav-link">Welcome, <a href="login.html"
                                                       th:href="@{/profile}"
                                                       sec:authentication="name">!</a><span
                            class="sr-only">(current)</span></span>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <form id="logoutForm" th:method="@{post}" th:action="@{/logout}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>
                    <a class="nav-link a-pointer"
                       onclick="document.forms['logoutForm'].submit()">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a-pointer"
                       th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                       href="cart.html"
                       th:href="@{/cart}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a-pointer"
                       th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                       href="cart.html"
                       th:href="@{/history}">History</a>
                </li>
            </ul>
            <form th:action="@{/goods/search}"
                  method="get"
                  class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2"
                       th:name="substring"
                       type="text"
                       placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0"
                        type="submit">Search
                </button>
            </form>
        </div>
    </nav>
</header>

<main role="main">
    <div id="myCarousel"
         class="carousel slide"
         data-ride="carousel"
         th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} OR ${isSearch}">
        <ol class="carousel-indicators">
            <li th:each="goods, iStat: ${threeGoods}"
                data-target="#myCarousel"
                th:data-slide-to="${iStat.index}"
                th:class="${iStat.first} ? 'active' : ''"></li>
        </ol>
        <div class="carousel-inner">
            <div th:each="goods, iStat: ${threeGoods}"
                 class="carousel-item"
                 th:classappend="${iStat.first} ? 'active' : ''">
                <div class="d-flex justify-content-around">
                    <a th:href="@{|/good/view/${goods.id}|}">
                        <img class="bd-placeholder-img img-fluid"
                             alt="No image"
                             th:attr="src=@{${goods.image}}">
                    </a>
                </div>
                <div class="container">
                    <div class="carousel-caption">
                        <!--<a href="view_good.html"-->
                        <!--th:href="@{|/good/view/${goods.id}|}"-->
                        <!--class="this-is-not-a">-->
                        <!--<h1 th:text="${goods.name}">Example headline.</h1>-->
                        <!--</a>-->
                        <!--<p th:text="${goods.description}">Cras justo odio, dapibus ac facilisis in, egestas eget quam.-->
                        <!--Donec id elit non mi porta-->
                        <!--gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
                        <div class="btn-group">
                            <a href="view_good.html"
                               th:href="@{|/good/view/${goods.id}|}"
                               class="btn btn-sm btn-primary">View</a>
                            <!--<a href="add_good.html"-->
                            <!--th:href="@{|/good/edit/${goods.id}|}"-->
                            <!--sec:authorize="hasRole('ROLE_ADMIN')"-->
                            <!--class="btn btn-sm btn-info">Edit</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <i class="fa fa-angle-left carousel-fa-arrows" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <i class="fa fa-angle-right carousel-fa-arrows" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="no-goods" th:if="${#lists.isEmpty(goodsList)}">
        <h3>No goods found.</h3>
    </div>
    <div th:if="${not #lists.isEmpty(goodsList)}" class="bd-content py-5 bg-light">
        <div class="mx-4">
            <div class="row">
                <div th:each="goods: ${goodsList}" class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="d-flex justify-content-around">
                            <img class="bd-placeholder-img album-bground-img"
                                 th:attr="src=@{${goods.image}}"
                                 alt="No image">
                        </div>
                        <div class="card-body">
                            <a class="this-is-not-a"
                               href="view_good.html"
                               th:href="@{|/good/view/${goods.id}|}">
                                <h3 th:text="${goods.name}">Chocolate</h3>
                            </a>
                            <h5 th:text="'Quantity in stock: ' + ${goods.quantity}">Quantity: 5</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="view_good.html"
                                       th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                       th:href="@{|/good/view/${goods.id}|}"
                                       class="btn btn-sm btn-outline-secondary">View</a>
                                    <a href="add_good.html"
                                       sec:authorize="hasRole('ROLE_ADMIN')"
                                       th:href="@{|/good/edit/${goods.id}|}"
                                       class="btn btn-sm btn-outline-secondary">Edit</a>
                                </div>
                                <h4 th:text="${#numbers.formatDecimal(goods.price, 0, 2)} + '$'">9.00$</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a href="add_good.html"
                   th:href="@{/good}"
                   sec:authorize="hasRole('ROLE_ADMIN')"
                   class="btn btn-primary btn-block col-3">Add goods</a>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017-2019 Roma Markovski · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
</main>

<script th:src="@{/resources/static/js/jquery.min.js}"
        src="../../resources/static/js/jquery.min.js"></script>
<script th:src="@{/resources/static/js/popper.min.js}"
        src="../../resources/static/js/popper.min.js"></script>
<script th:src="@{/resources/static/js/bootstrap.min.js}"
        src="../../resources/static/js/bootstrap.min.js"></script>
</body>
</html>