<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet"
          th:href="@{/resources/static/css/font-awesome.min.css}"
          href="../../resources/static/css/font-awesome.min.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/bootstrap.css}"
          href="../../resources/static/css/bootstrap.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/signin.css}"
          href="../../resources/static/css/signin.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/style.css}"
          href="../../resources/static/css/style.css">
</head>

<body class="text-center">
<header>
    <nav class="my-navbar navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a href="goods.html"
           th:href="@{/goods}"
           class="navbar-brand a-navbar-logo">
            <img class="navbar-logo"
                 src="../../resources/static/img/store.png"
                 th:src="@{/resources/static/img/store.png}"/>
        </a>
        <a class="navbar-brand"
           href="goods.html"
           th:href="@{/goods}">Online-store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"
                    sec:authorize="isAnonymous()">
                    <a class="nav-link"
                       th:classappend="active"
                       href="login.html"
                       th:href="@{/login}">Log in<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <span class="nav-link">Welcome, <a href="login.html"
                                                       th:href="@{/profile}"
                                                       sec:authentication="name">!</a><span
                            class="sr-only">(current)</span></span>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <form id="logoutForm" th:method="@{post}" th:action="@{/logout}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>
                    <a class="nav-link a-pointer"
                       onclick="document.forms['logoutForm'].submit()">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a-pointer"
                       th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                       href="cart.html"
                       th:href="@{/cart}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a-pointer"
                       th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                       href="cart.html"
                       th:href="@{/history}">History</a>
                </li>
            </ul>
            <form th:action="@{/goods/search}"
                  method="get"
                  class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2"
                       th:name="substring"
                       type="text"
                       placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0"
                        type="submit">Search
                </button>
            </form>
        </div>
    </nav>
</header>

<form class="form-signin" th:action="@{/login}" th:method="@{post}">
    <!--<img class="mb-4" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72"-->
         <!--src="../../resources/static/img/store.png"-->
         <!--th:src="@{/resources/static/img/store.png}"-->
         <!--height="72">-->
    <h1 class="h3 mb-3 form-heading font-weight-normal">Please sign in</h1>
    <div class="form-group">
        <label for="inputEmail" class="sr-only">Login</label>
        <input name="login" type="text" id="inputEmail" class="form-control" placeholder="Login" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="form-text text-danger"
             th:if="${error}"
             th:text="${error}">[errors]
        </div>
        <hr class="mb-4">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <span>Not registered yet? <a href="registration.html" th:href="@{/registration}"> Sign up</a></span>
    </div>
    <p class="mt-5 mb-0 text-muted">© by Roma Markovski</p>
    <p class="mb-3 text-muted">2019</p>
</form>

<script th:src="@{/resources/static/js/jquery.min.js}"
        src="../../resources/static/js/jquery.min.js"></script>
<script th:src="@{/resources/static/js/popper.min.js}"
        src="../../resources/static/js/popper.min.js"></script>
<script th:src="@{/resources/static/js/bootstrap.min.js}"
        src="../../resources/static/js/bootstrap.min.js"></script>
</body>
</html>
