<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${isRegistration} ? 'Registration' : 'Profile'">Registration</title>
    <link rel="stylesheet"
          th:href="@{/resources/static/css/font-awesome.min.css}"
          href="../../resources/static/css/font-awesome.min.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/bootstrap.css}"
          href="../../resources/static/css/bootstrap.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/signin.css}"
          href="../../resources/static/css/signin.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/form-validation.css}"
          href="../../resources/static/css/form-validation.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/style.css}"
          href="../../resources/static/css/style.css">
</head>

<body class="bg-light">
<header>
    <nav class="my-navbar navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a href="goods.html"
           th:href="@{/goods}"
           class="navbar-brand a-navbar-logo">
            <img class="navbar-logo"
                 src="../../resources/static/img/store.png"
                 th:src="@{/resources/static/img/store.png}"/>
        </a>
        <a class="navbar-brand"
           href="goods.html"
           th:href="@{/goods}">Online-store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"
                    sec:authorize="isAnonymous()">
                    <a class="nav-link"
                       href="login.html"
                       th:href="@{/login}">Log in<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <span class="nav-link">Welcome, <a href="login.html"
                                                       th:href="@{/profile}"
                                                       sec:authentication="name">!</a><span
                            class="sr-only">(current)</span></span>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <form id="logoutForm" th:method="@{post}" th:action="@{/logout}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>
                    <a class="nav-link a-pointer"
                       onclick="document.forms['logoutForm'].submit()">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a-pointer"
                       th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                       href="cart.html"
                       th:href="@{/cart}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a-pointer"
                       th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                       href="cart.html"
                       th:href="@{/history}">History</a>
                </li>
            </ul>
            <form th:action="@{/goods/search}"
                  method="get"
                  class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2"
                       th:name="substring"
                       type="text"
                       placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0"
                        type="submit">Search
                </button>
            </form>
        </div>
    </nav>
</header>
<form id="registrationForm"
      th:object="${userForm}"
      th:action="@{${#httpServletRequest.servletPath}}"
      th:method="@{post}"
      class="form-signin needs-validation">
    <input class="hidden" th:field="*{id}">
    <div class="text-center">
        <!--<img class="mb-4" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72"-->
             <!--height="72">-->
        <h1 class="h3 mb-3 font-weight-normal"
            th:text="${isRegistration} ? 'Sign up' : 'Profile'">Please sign up</h1>
    </div>
    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
        <p>Please fix errors below:</p>
    </div>
    <div class="mb-3">
        <label for="firstName">First name</label>
        <input type="text"
               th:field="*{name}"
               class="form-control" id="firstName" placeholder="" value="" required="">
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('name')}"
             th:errors="*{name}">[errors]
        </div>
        <!--<div class="invalid-feedback">-->
            <!--Valid first name is required.-->
        <!--</div>-->
    </div>
    <div class="mb-3">
        <label for="lastName">Last name</label>
        <input type="text"
               class="form-control"
               th:field="*{surname}"
               id="lastName" placeholder="" value="" required="">
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('name')}"
             th:errors="*{surname}">[errors]
        </div>
        <!--<div class="invalid-feedback">-->
            <!--Valid last name is required.-->
        <!--</div>-->
    </div>

    <div class="mb-3">
        <label for="username">Username</label>
        <div class="input-group">
            <input type="text"
                   class="form-control"
                   th:field="*{login}"
                   id="username" placeholder="Username" required="">
            <!--<div class="invalid-feedback" style="width: 100%;">-->
                <!--Your username is required.-->
            <!--</div>-->
            <div class="form-text text-danger"
                 th:if="${#fields.hasErrors('login')}"
                 th:errors="*{login}">[errors]
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="password">Password</label>
        <div class="input-group">
            <input type="password"
                   class="form-control"
                   th:field="*{password}"
                   id="password" placeholder="Password" required="">
            <!--<div class="invalid-feedback" style="width: 100%;">-->
                <!--Your password is required.-->
            <!--</div>-->
            <div class="form-text text-danger"
                 th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}">[errors]
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="confirmedPassword">Confirm password</label>
        <div class="input-group">
            <input type="password"
                   class="form-control"
                   th:field="*{confirmedPassword}"
                   id="confirmedPassword" placeholder="Password" required="">
            <!--<div class="invalid-feedback" style="width: 100%;">-->
                <!--Confirm the password.-->
            <!--</div>-->
        </div>
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('confirmedPassword')}"
             th:errors="*{confirmedPassword}">[errors]
        </div>
    </div>

    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email"
               th:field="*{email}"
               class="form-control" id="email" placeholder="you@example.com">
        <!--<div class="invalid-feedback">-->
            <!--Please enter a valid email address for shipping updates.-->
        <!--</div>-->
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('email')}"
             th:errors="*{email}">[errors]
        </div>
    </div>

    <div class="mb-3">
        <label for="isAdmin">Admin</label>
        <input type="checkbox"
               th:field="*{isAdmin}"
               class="form-control" id="isAdmin">
        <div class="form-text text-danger"
             th:if="${#fields.hasErrors('isAdmin')}"
             th:errors="*{isAdmin}">[errors]
        </div>
    </div>
    <hr class="mb-4">
    <a class="btn btn-primary btn-lg btn-block"
       th:href="@{/registration}"
       th:if="${isRegistration}"
       th:onclick="@{document.forms['registrationForm'].submit(); return false;}">Register</a>
    <a class="btn btn-primary btn-lg btn-block"
       th:href="@{/profile}"
       th:unless="${isRegistration}"
       th:onclick="@{document.forms['registrationForm'].submit(); return false;}">Update profile</a>
    <div class="text-center">
        <p class="mt-5 mb-0 text-muted">© by Roma Markovski</p>
        <p class="mb-3 text-muted">2019</p>
    </div>
</form>

<script th:src="@{/resources/static/js/jquery.min.js}"
        src="../../resources/static/js/jquery.min.js"></script>
<script th:src="@{/resources/static/js/popper.min.js}"
        src="../../resources/static/js/popper.min.js"></script>
<script th:src="@{/resources/static/js/bootstrap.min.js}"
        src="../../resources/static/js/bootstrap.min.js"></script>
<script th:src="@{/resources/static/js/form-validation.js}"
        src="../../resources/static/js/form-validation.js"></script>

</body>
</html>