<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View goods</title>
    <link rel="stylesheet"
          th:href="@{/resources/static/css/font-awesome.min.css}"
          href="../../resources/static/css/font-awesome.min.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/bootstrap.css}"
          href="../../resources/static/css/bootstrap.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/good.css}"
          href="../../resources/static/css/good.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/carousel.css}"
          href="../../resources/static/css/carousel.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/form-validation.css}"
          href="../../resources/static/css/form-validation.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/album.css}"
          href="../../resources/static/css/album.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/style.css}"
          href="../../resources/static/css/style.css">

</head>
<body>
<header>
    <nav class="my-navbar navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a href="goods.html"
           th:href="@{/goods}"
           class="navbar-brand a-navbar-logo">
            <img class="navbar-logo"
                 src="../../resources/static/img/store.png"
                 th:src="@{/resources/static/img/store.png}"/>
        </a>
        <a class="navbar-brand"
           href="goods.html"
           th:href="@{/goods}">Online-store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"
                    sec:authorize="isAnonymous()">
                    <a class="nav-link"
                       href="login.html"
                       th:href="@{/login}">Log in<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <span class="nav-link">Welcome, <a href="login.html"
                                                       th:href="@{/profile}"
                                                       sec:authentication="name">!</a><span
                            class="sr-only">(current)</span></span>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <form id="logoutForm" th:method="@{post}" th:action="@{/logout}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>
                    <a class="nav-link a-pointer"
                       onclick="document.forms['logoutForm'].submit()">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a-pointer"
                       th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                       href="cart.html"
                       th:href="@{/cart}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a-pointer"
                       th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                       href="cart.html"
                       th:href="@{/history}">History</a>
                </li>
            </ul>
            <form th:action="@{/goods/search}"
                  method="get"
                  class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2"
                       th:name="substring"
                       type="text"
                       placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0"
                        type="submit">Search
                </button>
            </form>
        </div>
    </nav>
</header>

<main role="main">
    <div class="row p-5">
        <div class="col-md my-3 d-flex justify-content-around">
            <img id="good-img"
                 th:attr="src=@{${goods.image}}"
                 alt="No image"
                 class="img-fluid mb-3">
        </div>
        <div class="col-md m-3">
            <h1 th:text="${goods.name}">Bootstrap</h1>
            <hr class="mb-4">
            <h3 class="mb-2">Price: </h3>
            <h4 th:text="${goods.price} + '$'" class="mb-2">5.00$</h4>
            <hr class="mb-4">
            <h3 class="mb-2">Quantity on stock: </h3>
            <h4 th:text="${goods.quantity}" class="mb-2">25</h4>
            <hr class="mb-4">
            <h3>Description: </h3>
            <p th:text="${goods.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ducimus
                eius, incidunt ipsa nam
                necessitatibus nisi odit quod. Cupiditate doloribus hic inventore iste labore minus repellat
                repudiandae, voluptate voluptatum. Eos. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Corporis esse laborum magni minima non placeat, recusandae sed sint. Animi atque aut distinctio est id
                in maiores nobis, officiis omnis similique.</p>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur cupiditate dicta dolorum-->
            <!--ea eum excepturi exercitationem facere hic maiores, officia placeat repellat repudiandae, sequi-->
            <!--temporibus tenetur veniam. Ab, dolorem?</p>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad alias at, blanditiis commodi-->
            <!--consequuntur distinctio ducimus, enim eos excepturi ipsum iste natus obcaecati odio praesentium, quaerat-->
            <!--quas quis vitae.</p>-->
            <hr class="mb-4">

            <form id="cartForm"
                  class="needs-validation"
                  th:object="${operation}"
                  th:action="@{/cart/update}"
                  th:method="@{post}">
                <div id="good-div-count"
                     class="pr-3">
                    <input class="hidden"
                           th:field="*{userId}"/>
                    <input class="hidden"
                           th:field="*{goodsId}"/>
                    <input class="hidden"
                           th:field="*{isHistory}"/>
                    <label for="good-input-count"
                           th:unless="${goods.quantity == 0 && !isAlreadyInCart}">Quantity:</label>
                    <input id="good-input-count"
                           type="number"
                           min="0"
                           placeholder=""
                           th:min="0" class="form-control"
                           th:max="${goods.quantity} + ${operation.quantity}"
                           th:unless="${goods.quantity == 0 && !isAlreadyInCart}"
                           th:field="*{quantity}"
                           value="0"
                           step="1"
                           required="">
                    <div class="form-text text-danger"
                         th:if="${#fields.hasErrors('quantity')}"
                         th:errors="*{quantity}">[errors]
                    </div>
                    <div class="invalid-feedback">
                        Valid quantity is required.
                    </div>
                    <h2 class="text-danger"
                        th:if="${goods.quantity == 0 && !isAlreadyInCart}">This product is currently not available.</h2>
                </div>
                <div class="float-right">
                    <button class="btn btn-lg btn-primary"
                            th:text="${isAlreadyInCart} ? 'Update quantity' : 'Add to the cart'"
                            th:onclick="@{document.forms['writerForm'].submit(); return false;}">Add to the cart
                    </button>
                </div>
            </form>
        </div>
    </div>


    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017-2019 Roma Markovski · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
</main>

<script th:src="@{/resources/static/js/jquery.min.js}"
        src="../../resources/static/js/jquery.min.js"></script>
<script th:src="@{/resources/static/js/popper.min.js}"
        src="../../resources/static/js/popper.min.js"></script>
<script th:src="@{/resources/static/js/bootstrap.min.js}"
        src="../../resources/static/js/bootstrap.min.js"></script>
<script th:src="@{/resources/static/js/form-validation.js}"
        src="../../resources/static/js/form-validation.js"></script>
</body>
</html>